QPushButton
{
    border: 0px solid black;
    border-radius: 5px;
    padding: 0 2px;
    background-color: rgb(1, 80, 135);
    color : white;
}
QPushButton:pressed
{
    border: 0px solid black;
    border-radius: 5px;
    padding: 0 2px;
    background-color: rgb(1, 80, 135);
    color : white;
}

QLabel
{
    color : white;
}
QFrame[frameShape="5"]
{
    color: white;
}
QDialog
{
    background-color: rgb(1, 80, 135);
}
QMainWindow
{
    background-color: rgb(1, 80, 135);
}
QScrollBar:vertical
{
    width: 40px;
}
QScrollBar::up-arrow:vertical{
    height: 40px;
    width: 40px;
    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;

}
QCheckBox::indicator:unchecked
{
    image: url(:/png/switch_off.png);
}

QCheckBox::indicator:checked
{
    image: url(:/png/switch_on.png);
}

QRadioButton::indicator:unchecked
{
    image: url(:/png/radio_off.png);
}

QRadioButton::indicator:checked
{
    image: url(:/png/radio_on.png);
}
